.container {
  width: 100%;
  @mixin navTabs {
    position: fixed;
    height: 5vh;
    width: 100%;
  }
  .header {
    @include navTabs;
    top: 0;
  }
  .bottom {
    @include navTabs;
    bottom: 0;
  }
  .body {
    margin: 5vh 0;
    .block {
      height: 500px;
      width: 100%;
      background-color: aqua;
    }
  }
}